* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #111;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: #000;
  position: relative;
}

.swiper-slide img, .swiper-slide video {
  height: inherit;
  width: inherit;
  outline: none;
  border: none;
}

.swiper-slide .play-button {
  position: absolute;
  bottom: 20px;
  left: 30px;
  height: 60px;
  width: 60px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.swiper-slide .play-button i {
  background: #004aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: bganimate 1s infinite;
          animation: bganimate 1s infinite;
  border-radius: 50%;
}

@-webkit-keyframes bganimate {
  from {
    background: rgba(0, 74, 170, 0);
    width: 50px;
    height: 50px;
  }
  to {
    background: #004aaa;
    width: 70px;
    height: 70px;
  }
}

@keyframes bganimate {
  from {
    background: rgba(0, 74, 170, 0);
    width: 50px;
    height: 50px;
  }
  to {
    background: #004aaa;
    width: 70px;
    height: 70px;
  }
}

.nav {
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.nav:hover {
  opacity: 1;
}

.nav.next {
  right: 30px;
}

.nav.prev {
  left: 30px;
}

/* GENERATED BY SACHIN */
/*# sourceMappingURL=style.css.map */